# Compilação
/bin/
/build/
/out/

# Arquivos temporários
*.class
*.log
*.tmp

# Pacotes e dependências
*.jar
*.war
*.ear

# IDEs
/.idea/
/*.iml
/.vscode/

# Maven
/target/
/.mvn/
/pom.xml.tag
/pom.xml.releaseBackup
/pom.xml.versionsBackup
/logs/

# Gradle
.gradle/
/build/
/gradle-app.setting
gradle-wrapper.jar
gradle-wrapper.properties

# Outros
*.swp
.DS_Store
